
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
     <!-- ... -->

     
     <a class="navbar-brand" href="#">BLOG SYMFONY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catégories</a>
      </li>
      <ul class="d-flex">

   {% if is_granted('IS_AUTHENTICATED_FULLY') %}

       <!-- Menu utilisateur mode connecté -->
       <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" 
              href="#" 
              id="dropdown01" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">{{ app.user.firstname }} {{ app.user.lastname }}</a>
           <ul class="dropdown-menu" aria-labelledby="dropdown01">
               <li><a class="dropdown-item" href="#">Mon compte</a></li>
               <li><a class="dropdown-item" 
                      href="{{ path('security.logout') }}">Déconnexion</a></li>
           </ul>
       </li>

   {% else %}



   {% endif %}
</ul>

      
    </ul>

  </div>
</nav>